
.item-detail {
  margin: 0 0;
  background-color: white;

  .header-bp .hd-header-right .hd-search {
    border: 1px solid red;
  }

  .item-detail-header-bp {
    border-bottom: 2px solid #ff4040;
  }

  .detail-crumb {
    padding-left: 18px;
    padding-top: 12px;
    font-size: 14px;
  }
  .detail-1 {

    .el-main {
      height: 500px;
    }
    .detail-1-left {

      .detail1-pic {
        height: 360px;
        width: 354px;
        padding: 19px;
        border: 1px solid #ddd;
        img {
          width: 354px;
        }
      }

      .detail1-itemInfo {
        height: 16px;
        margin-top: 10px;
        span {
          float: left;
          color: #999;
          font-size: 11px;
          //line-height: 12px;
          height: 14px;

          i {
            font-size: 14px;
          }

          &:first-child {
            border-right: 1px solid #999;
            padding-right: 10px;
          }

          &:last-child {
            padding-left: 10px;
          }
          &:last-child:hover {
            color: red;
          }
        }
      }

    }

    .detail-1-middle {
      margin-left: 25px;

      .name-detail {
        font-weight: bold;
        font-size: 16px;
      }

      .price {
        line-height: 28px;
        overflow: hidden;

        ul {
          overflow: hidden;
          padding-left: 0;
          li {
            &:first-child {
              color: #666;
              font-size: 12px;
              padding-right: 10px;
            }
            &:last-child {
              color: #e60012;
              font-size: 26px;
            }
          }
        }

      }

      .cart {
        position: absolute;
        bottom: 26px;
        //line-height: 50px;

        a {
          float: left;
          display: block;
          background-color: #df3033;
          color: white;
          height: 50px;
          width: 140px;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
          line-height: 50px;
          .icon-gouwuche {
            padding-right: 5px;
            font-weight: normal;
          }
        }

      }
    }

    .detail-1-right {

    }
  }

  .detail-2 {
    border: 1px solid;
  }



  a {
    color: #555;
    text-decoration: none;
  }

  li {
    list-style: none;
    float: left;
  }
}
