.nav {

  .hd_indxProvce {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
  }

  i {
    &.icon-wodedingdan, &.icon-wodejuhuasuan {
      font-size: 13px;
    }

    &.icon-shouhuodizhi {
      font-size: 13px;
      color: red;
    }
  }

  a {
    text-decoration: none;
    color: #666;
  }

  .topbar_right {
    float: right;

    .hd_login_currentUser > span {
      color: #ff4040;
    }

    > li {
      height: 30px;
      line-height: 30px;
      list-style: none;
      float: left;
      font-size: 12px;
      padding: 0 8px;
    }

    .hd_login_link {
      color: #ff4040;
    }

    .hd_register_link {
      margin-left: 8px;
      color: #aaa;
    }

    .hd_login_logout {
      margin-left: 10px;
      &:hover {
        color: #ff4040;
      }
    }

    .hd_menu > a:hover, .hd_register_link:hover {
      color: #ff4040;
    }
  }

  .el-menu.el-menu--horizontal {
    border-bottom: none !important;
  }

  .el-menu-item, .el-submenu__title {
    background-color: rgb(244, 244, 244) !important;
  }

  .el-menu--horizontal > .el-menu-item,
  li.el-menu-item,
  div.el-submenu__title,
  .el-menu--horizontal > .el-submenu .el-submenu__title,
  .el-submenu {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }

  .el-submenu__title i {
    color: whitesmoke;
  }
}
