header {
    height: 45px;
    background: pink;
    line-height: 45px;
    /*width: 100%;*/
    position: relative;
    text-align: center;
    box-shadow: 4px 4px 15px deeppink;

}

header a {
    position: absolute;
    left: 15px;
    text-decoration: none;
    color: white;
}

header span {
    font-size: 20px;
    color: #fff;
}

.item-info {
    margin: 30px 10px;
}

.item-info h3 {
    font-size: 15px;
    border-left: 2px solid pink;
    padding-left: 10px;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 0 3px 10px #00a0e9 ;
}

.item-info span {
    color: gray;
}

.item-info p {
    font-size: 14px;
}
