$type: itemDetail!global;

.detail_crumb {
  padding-left: 18px;
  padding-top: 12px;
  font-size: 14px;
}

.detail1_pic {
  height: 360px;
  width: 354px;
  padding: 19px;
  border: 1px solid;
  img {
    width: 354px;
  }
}
